*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.header{
  
    background-image: url('../images/banner/banner2.png');
    height: 809px;
    background-position: center;
    background-repeat: no-repeat;
}
.head{
 text-align: right;

}
.head-title{
    margin: 0 200px;
    display: flex;
    
}
.h1{
    margin-bottom: 24px;
    margin-top: 216px;
    margin-right: 230px;
    margin-left: 845px;
    padding-left: 10px;
    font-weight: 700;
font-size: 65px;
color: #151414;
}
.p{
    font-weight: 400;
font-size: 16px;
margin-right: 230px;
color: #151414;
margin-left: 876px;
}
.btn{
    background-color: #F15B22;;
    border-radius: 10px;
    padding: 20px 15px;
    width: 160px;
height: 64px;
margin-right: 230px;
margin-top: 32px;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;
}
.section-title{
   display: flex;
   
}
.section-1{
   
    margin-top: 130px;
    margin-left: 206px;
    margin-right: 322px;
}
.div1{
    margin-top: 369px;
    margin-left: 87px;

}

.div-header{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
    margin-right: 300px;
}
.blog{
    font-weight: 400;
font-size: 16px;
color: #444343;
margin-top: 24px;
margin-bottom: 16px;
margin-right: 322px;
}
.blogp{
    font-weight: 400;
font-size: 16px;
color: #444343;
margin-bottom: 8px;

}
.section2{

margin-top: 107px;
margin-right: 253px;
}
.head2{
    text-align: center;
    font-weight: 700;
font-size: 40px;
color: #151414;
}
.pages3{
    display: flex;
    margin-left: 206px;
}
.div2{
    margin-left: 86px;
    margin-top: 49px;
}
.blog1{
    margin-top: 24px;
    font-weight: 700;
font-size: 30px;
color: #151414;
margin-bottom: 16px;

}
.img{
    margin-left: 75px;
}
.img2{
    margin-left: 25px;
}
.img3{
    margin-left: 50px;
}
.img4{
    margin-left: 25px;
}
.blog2{
    margin-left: 30px;
   
color: #737272;
}
.section3{
    margin-top: 113px;
    background-image: url('../images/watch.png');
    height: 300px;
    background-repeat: no-repeat;
    background-position: cover;
    margin-left: 290px;
    margin-right: 230px;

}
.blog-title{
    margin: 0 200px;
}
.pages4{
   padding-top: 59px;
   padding-left: 64px;
   padding-right: 617px;
}
.pages4-title{
    font-weight: 700;
font-size: 40px;
color: #FFFFFF;
margin-right: 200px;
margin-bottom: 24px;

}
.blog5{
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #F15B22;
    font-weight: 600;
font-size: 20px;
padding: 20px 36px;
}
.section4{
    background-color: #151414;
    height: 572px;
    width: 1600px;
    margin-top: 130px;
    margin-left: 100px;
}
.section4-title{
    color: #FFFFFF;
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 331px;
}
.se{
    color: #FFFFFF;
    margin-top: 130px;
    margin-right: 229px;
    
 
}
.jerry{
    display: flex;
}
.kamil{
    font-weight: 700;
font-size: 45px;
color: #F8F8F8;
}
.joy{
    margin-top: 16px;
    font-weight: 400;
font-size: 16px;
color: #FFFFFF;
}
.kamil2{
    font-weight: 600;
font-size: 25px;
margin-bottom: 16px;
color: #FFFFFF;

}
.joy2{
    padding-top: 21px;
    padding-left: 21px;
    padding-bottom: 22px;
    padding-right: 158px;
    font-weight: 400;
font-size: 18px;
margin-bottom: 16px;

}
.joy3{
    font-weight: 600;
font-size: 20px;
color: #F15B22;
padding: 20px 36px;
}
.robin2{
    margin-top: 32px;
    margin-left: 18px;
}
.robin1{
    margin-top: 32px;
}